{{#section 'style'}}
<style>
     .note-group-select-from-files {
  padding-bottom: 20px;
  display: none;
}
.dropdown-toggle::after{
    display: none;
}
.note-modal-footer {
  padding: 0px!important;
}
.note-editable{
  padding: 10px 20px!important;
}
.note-editor.note-airframe.fullscreen, .note-editor.note-frame.fullscreen {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%!important;
    z-index: 9999 !important;
    background: #fff !important;
}
</style>
{{/section}}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Congratulations John! 🎉</h5>
                            <p class="mb-4">
                                You have done <span class="fw-bold">72%</span> more sales today. Check your new badge in
                                your profile.
                            </p>

                            <a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a>
                        </div>
                    </div>
                    <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                            <img src="/assets/img/illustrations/man-with-laptop-light.png" height="140"
                                alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                data-app-light-img="illustrations/man-with-laptop-light.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-4">
            <div class="nav-align-top mb-4">
                <ul class="nav nav-pills mb-3" role="tablist">
                    <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                            data-bs-target="#navs-pills-top-home" aria-controls="navs-pills-top-home"
                            aria-selected="true">
                            Home
                        </button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="navs-pills-top-home" role="tabpanel">
                        <form class="row" id="developerFrm" action="#" method="PUT">
                            <div class="mb-3">
                                <label class="form-label" for="name">Developer Name</label>
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="Developer Name" />
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <label class="input-group-text" for="logo">Logo</label>
                                    <input type="file" class="form-control" id="logo" name="logo" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="fullDescription" class="form-label">Description</label>
                                <textarea class="form-control" id="fullDescription" name="fullDescription"
                                    class="form-control"></textarea>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{#section 'script'}}
<script>
    editDeveloper();
    $('#fullDescription').summernote({
        airMode: false,
        placeholder: 'Full Description',
        tabsize: 2,
        height: 400,
        toolbar: [
          ['style', ['bold', 'underline','italic']],
          ['file',['link']],
          ['list',['ul','ol']],
          ['color',['forecolor']],
          ['font',['fontsize','fullscreen']]

        ]
});
function editDeveloper(){
    $('#developerFrm').bootstrapValidator({
    message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
    submitButtons: 'button[type="submit"]',
    submitHandler: function(validator, form, submitButton) 
    {
     let markupStr = $("#fullDescription").summernote("code").replace(/<\/?[^>]+(>|$)/g, "").replace(/&nbsp;|<br>/g,"");
      
      if(markupStr==''){
        $('#developerFrm').bootstrapValidator('updateStatus', 'fullDescription', 'INVALID');
      }
      else{
        $('#developerFrm').bootstrapValidator('updateStatus', 'fullDescription', 'VALID');
            var formData = new FormData(document.getElementById("developerFrm"));
          
      }
    },
    
    fields: {
        name: {
          validators: {
          notEmpty: { message: 'Field is required.'}
          }
        },
        logo: {
          validators: {
          notEmpty: { message: 'Field is required.'}
          }
        },
        fullDescription: {
          validators: {
            notEmpty: { message: 'Field is required.'}
          }
        },
        } 
    });
}
</script>
{{/section}}