<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Congratulations John! 🎉</h5>
                            <p class="mb-4">
                                You have done <span class="fw-bold">72%</span> more sales today. Check your new badge in
                                your profile.
                            </p>


                            <a href="javascript:;" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#modalCenter">+ Add</a>
                        </div>
                    </div>
                    <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                            <img src="/assets/img/illustrations/man-with-laptop-light.png" height="140"
                                alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                data-app-light-img="illustrations/man-with-laptop-light.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-4">
            <!-- Basic Bootstrap Table -->
            <div class="card">
                <h5 class="card-header">Property List</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Developer Name</th>
                                <th>Logo</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0 showData">
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/ Basic Bootstrap Table -->
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalCenter" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Add New Developer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="name" class="form-label">Developer Name</label>
                        <input type="text" id="name" class="form-control" placeholder="Enter Developer Name" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" onclick="CreateDeveloper();">Save</button>
            </div>
        </div>
    </div>
</div>
{{#section 'script'}}
<script>
getData();
let developerName =document.getElementById('name');
function CreateDeveloper(){
    if(developerName.value.trim()){
        storeData(developerName.value.trim());
    }else{
    console.log('field is required');
    }
}
async function storeData(name){
     const response = await fetch("/api/developer",{
            method:'POST',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify({name}),
        })
        const res = await response.json();
        if(res.status ===true){
            developerName.value=null;
            $("#modalCenter").modal('hide');
            getData();
        }
}
 async function getData(){
      const response = await fetch("/api/developer");
      const res = await response.json();
      if(res){
        let data = res.map((val,i)=>{
          let result= `<tr>
                      <td>${i+1}</td>
                      <td>${val.name}</td>
                      <td><img src="img/banner/banner.jpg" alt="logo" width="80" height="80" class="img-fluid"/></td>
                      <td>${val.created_at}</td>
                      <td>
                          <div class="form-check form-switch mb-3">
                              <input class="form-check-input" type="checkbox" id="rental" onclick="changeStatus('${val.code}',1)"/>
                          </div>
                      </td>
                      <td>
                        <i class="bx bx-edit-alt me-1" title="Edit Tags" onclick="window.location.href='/developer/${val.code}';"></i>
                        <i class="bx bxs-show me-1" title="View Preview" onclick="window.location.href='/developer/${val.code}';"></i>
                        <i class="bx bx-trash me-1" title="Delete Tags" onclick="removeDeveloper('${val.code}')"></i>
                       </td>
                    </tr>`;
                    return result;
        })
    $(".showData").html(data);
      }else{
        console.log("no data found!");
      }
    }
async function removeDeveloper(code){
     const response = await fetch("/api/developer",{
            method:'DELETE',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify({code}),
        })
        const res = await response.json();
        if(res.status ===true){
            getData();
        }
}
async function changeStatus(code,status){
    const response = await fetch("/api/developer",{
        method:'PUT',
        headers:{'Content-Type':'application/json'},
        body:JSON.stringify({code,status}),
    })
    const res = await response.json();
    if(res.status ===true){
        getData();
    }
    
}
</script>
{{/section}}