{{#section 'style'}}
<title>Inchbrick title section</title>
{{/section}}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-12 mb-4">
      <div class="card">
        <div class="d-flex align-items-end row">
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title text-primary">Congratulations 🎉</h5>
              <p class="mb-4">
                You have done <span class="fw-bold">72%</span> more sales today. Check your new badge in
                your profile.
              </p>

              <a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a>
            </div>
          </div>
          <div class="col-sm-5 text-center text-sm-left">
            <div class="card-body pb-0 px-0 px-md-4">
              <img src="/assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User"
                data-app-dark-img="illustrations/man-with-laptop-dark.png"
                data-app-light-img="illustrations/man-with-laptop-light.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex align-items-start justify-content-between">
            <div class="avatar flex-shrink-0">
              <img src="/assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" />
            </div>
            <div class="dropdown">
              <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                <a class="dropdown-item" href="javascript:void(0);">View More</a>
              </div>
            </div>
          </div>
          <span class="fw-semibold d-block mb-1">Today Lead</span>
          <h3 class="card-title mb-2">10</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex align-items-start justify-content-between">
            <div class="avatar flex-shrink-0">
              <img src="/assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" />
            </div>
            <div class="dropdown">
              <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                <a class="dropdown-item" href="javascript:void(0);">View More</a>
              </div>
            </div>
          </div>
          <span class="fw-semibold d-block mb-1">Today Register User</span>
          <h3 class="card-title mb-2">20</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex align-items-start justify-content-between">
            <div class="avatar flex-shrink-0">
              <img src="/assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" />
            </div>
            <div class="dropdown">
              <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                <a class="dropdown-item" href="javascript:void(0);">View More</a>
              </div>
            </div>
          </div>
          <span class="fw-semibold d-block mb-1">Today Unique Visitor</span>
          <h3 class="card-title mb-2">200</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex align-items-start justify-content-between">
            <div class="avatar flex-shrink-0">
              <img src="/assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" />
            </div>
            <div class="dropdown">
              <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                <a class="dropdown-item" href="javascript:void(0);">View More</a>
              </div>
            </div>
          </div>
          <span class="fw-semibold d-block mb-1">Today Property List</span>
          <h3 class="card-title mb-2">200</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex align-items-start justify-content-between">
            <div class="avatar flex-shrink-0">
              <img src="/assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" />
            </div>
            <div class="dropdown">
              <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                <a class="dropdown-item" href="javascript:void(0);">View More</a>
              </div>
            </div>
          </div>
          <span class="fw-semibold d-block mb-1">Today Blog Post</span>
          <h3 class="card-title mb-2">5</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex align-items-start justify-content-between">
            <div class="avatar flex-shrink-0">
              <img src="/assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" />
            </div>
            <div class="dropdown">
              <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                <a class="dropdown-item" href="javascript:void(0);">View More</a>
              </div>
            </div>
          </div>
          <span class="fw-semibold d-block mb-1">Today Lead</span>
          <h3 class="card-title mb-2">10</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex align-items-start justify-content-between">
            <div class="avatar flex-shrink-0">
              <img src="/assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" />
            </div>
            <div class="dropdown">
              <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                <a class="dropdown-item" href="javascript:void(0);">View More</a>
              </div>
            </div>
          </div>
          <span class="fw-semibold d-block mb-1">Today Register User</span>
          <h3 class="card-title mb-2">20</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex align-items-start justify-content-between">
            <div class="avatar flex-shrink-0">
              <img src="/assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" />
            </div>
            <div class="dropdown">
              <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                <a class="dropdown-item" href="javascript:void(0);">View More</a>
              </div>
            </div>
          </div>
          <span class="fw-semibold d-block mb-1">Today Unique Visitor</span>
          <h3 class="card-title mb-2">200</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex align-items-start justify-content-between">
            <div class="avatar flex-shrink-0">
              <img src="/assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" />
            </div>
            <div class="dropdown">
              <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                <a class="dropdown-item" href="javascript:void(0);">View More</a>
              </div>
            </div>
          </div>
          <span class="fw-semibold d-block mb-1">Today Property List</span>
          <h3 class="card-title mb-2">200</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex align-items-start justify-content-between">
            <div class="avatar flex-shrink-0">
              <img src="/assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" />
            </div>
            <div class="dropdown">
              <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                <a class="dropdown-item" href="javascript:void(0);">View More</a>
              </div>
            </div>
          </div>
          <span class="fw-semibold d-block mb-1">Total Blog Post</span>
          <h3 class="card-title mb-2">5</h3>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- / Content -->

          
      
