<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="style/main.css">
    </head>
    <body>
   <!--======================================== 
        Preloader
    ========================================-->

    <div class="page-preloader">

        <div class="spinner">

            <div class="rect1"></div>

            <div class="rect2"></div>

            <div class="rect3"></div>

            <div class="rect4"></div>

            <div class="rect5"></div>

        </div>

    </div>
     <!--//** Navigation**//-->

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Inch&Brick</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </div>
</nav>

 <!--//** Banner**//-->

<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <div class="content">
                    <h1>Welcome To Inch & Brick</h1>
                    <h2>I am Inch&Brick</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium accusamus ea laboriosam necessitatibus, corrupti natus omnis asperiores quidem amet assumenda, magni libero, quisquam aut. Debitis quaerat atque cumque commodi facere? Eaque reiciendis tenetur tempora, sed ut dolore quisquam asperiores aliquam?</p>
                    <a href="#" class="btn btn-transparent">Get Started</a>
                    <a class="btn btn-blue popup-youtube" href="/">Watch Video</a>
                </div>
            </div>
            <div class="col-md-4 m-auto">
                <div class="login-form">
                    <h2 class="text-center">Login Now</h2>
                    <p class="messages"></p>
                    <hr>
                    <form action="/" id="loginFrm">
                        <div class="form-group form-field">
                            <input type="email" class="form-control" placeholder="Email ID" id="email" name="email">
                        </div>
                        <div class="form-group form-field">
                            <input type="password" class="form-control" placeholder="Password" id="password" name="password">
                        </div>
                        <div class="form-group form-field text-center">
                            <button type="submit" class="btn btn-blue btn-block">Login</button>
                        </div>
                    </form>
                    <hr>
                        <p class="text-info text-end" role="button">Forget Password</p>
                </div>
            </div>
        </div>
    </div>

</section>

    <script src="/jq/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(()=>{
            $(window).load(function () { // makes sure the whole site is loaded
                $('.page-preloader spinner').fadeOut(); // will first fade out the loading animation
                $('.page-preloader').delay(350).fadeOut('slow');
                // will fade out the white DIV that covers the website.
                $('body').delay(350).css({
                    'overflow': 'visible'
                });
            })
             document.getElementById("loginFrm").addEventListener('submit',(e)=>{
                    e.preventDefault();
                    let email= document.getElementById('email');
                    let password = document.getElementById('password');
                    const validEmail = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                    let messages = document.querySelector('.messages');
                    if(email.value.trim()==="" && password.value.trim() ==""){
                        messages.innerHTML ="Email & Password both are required!";
                        messages.classList.add('text-danger');
                        email.addEventListener('keypress',()=>{
                            messages.classList.remove('text-danger');
                            messages.innerHTML ="";
                        });
                        password.addEventListener('keypress',()=>{
                            messages.classList.remove('text-danger');
                            messages.innerHTML ="";
                        });
                    }
                    else if(email.value.trim()===""){
                        messages.innerHTML ="Please Provide Email Id";
                        messages.classList.add('text-danger');
                        email.addEventListener('keypress',()=>{
                            messages.classList.remove('text-danger');
                            messages.innerHTML ="";
                        });
                    }
                    else if(!validEmail.test(email.value.trim())){
                        messages.innerHTML ="Email Id is incorrect! Please provide correct email Id";
                        messages.classList.add('text-danger');
                        email.addEventListener('keypress',()=>{
                            messages.classList.remove('text-danger');
                            messages.innerHTML ="";
                        });
                    }
                    else if(password.value.trim()==""){
                        messages.innerHTML ="Password fied is required!";
                        messages.classList.add('text-danger');
                        password.addEventListener('keypress',()=>{
                            messages.classList.remove('text-danger');
                            messages.innerHTML ="";
                        });
                    }else{
                     checkUser(email.value.trim(),password.value.trim());
                    }
                })
        });

    const checkUser=async(email,password)=>{
         const response = await fetch("/api/admin-login",{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({
                email:email,
                password:password
            }),
        })
        const res = await response.json();
        if(res.status ==true){
            window.location.href = "/dashboard";
        }
        
    }
   
   
    </script>
    </body>
</html>