.page-preloader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #44c5ee;
    z-index: 100000;
}
.spinner {
    position: relative;
    top: 35%;
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}
.spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
-webkit-animation-delay: -1.1s;
animation-delay: -1.1s; }

.spinner .rect3 {
-webkit-animation-delay: -1.0s;
animation-delay: -1.0s; }

.spinner .rect4 {
-webkit-animation-delay: -0.9s;
animation-delay: -0.9s; }

.spinner .rect5 {
-webkit-animation-delay: -0.8s;
animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
0%,
    40%,
    100% {
    -webkit-transform: scaleY(0.4); }
20% {
    -webkit-transform: scaleY(1); } }
@keyframes sk-stretchdelay {
0%,
    40%,
    100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
    h1 {
        font-size: 46px;
        font-weight: 700;
        letter-spacing: 0.08em;
        margin-bottom: 35px;
        color: #fff; }
      
      h2 {
        font-size: 34px;
        letter-spacing: 0.08em; }
      
      h3 {
        font-size: 32px;
        letter-spacing: 0.08em; }
      
      h4 {
        font-size: 24px;
        letter-spacing: 0.08em; }
      
      h5 {
        font-size: 18px;
        letter-spacing: 0.08em; }
      
      h6 {
        font-size: 16px; }
      
      p {
        font-size: 15px;
        letter-spacing: 0.08em;
        line-height: 30px; }
.home{
    position: relative;
    display: flex;
    place-content: center;
    align-items: center;
    background: url('/img/banner/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.login-form{
    background-color: #fff;
    padding: 45px;
    border-radius: 5px;
}
.form-field{
    margin: 15px 0;
}
.btn-blue {
    background: #44c5ee;
    padding: 10px 28px;
    border: 2px solid #44c5ee;
    color: #fff;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: 0.08em;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    box-shadow: 0px 0px 60px 0px rgb(68 197 238 / 60%);
    outline: none !important;
}
.btn-block{
    width: 100%;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  background: #fff;
  color: #496174; }

.btn-transparent {
  background: transparent;
  padding: 10px 28px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 0.08em;
  -webkit-transition: 0.5s all;
          transition: 0.5s all;
  outline: none !important; }

.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
  background: #fff;
  color: #496174; }

.btn-white {
  background: #fff;
  padding: 10px 28px;
  color: #496174;
  border: 2px solid #fff;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 0.08em;
  -webkit-transition: 0.5s all;
          transition: 0.5s all;
  outline: none !important; }

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  background: transparent;
  color: #fff; }

.content {
    padding: 5px;
    margin-top: 20px;
    color: #fff;
}
.navbar .nav-item .nav-link, .navbar-brand{
    color: #fff;
}
.navbar-brand{
    font-size: 30px;
}
.navbar-brand:hover{
    color:#fff;
}